<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Modify permissions DDMS</title>
    {% load static %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id="msg">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky;">
        <a class="navbar-brand" href="#">DDMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about/">About</a>
                <a class="nav-item nav-link" href="/contact/">Contact Us</a>
                <form action="{%url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit" style="position: absolute;
                right: 2%; top : 12%">Logout</button>
                </form>
                <h3 style="position: absolute; right: 10%; top: 12%; color: rgb(172, 172, 229);cursor: pointer;"
                    title="Your username">
                    {{ request.user.username }}
                </h3>
            </div>
        </div>
    </nav>
    <h1>
        Control access to your files from here
    </h1>
    <form action="{% url 'change_permissions' %}" method="post">
        {% csrf_token %}
        {% for file in files %}
        {% if file.file_owner == request.user %}
        <h2 style="margin-left: 5%; border: 2px dashed azure;">
            {{ file.Title }}
        </h2>
        {% for user in users %}
        <ul>
            {% if user.username != request.user.username %}
            <li>
                {% with file.Title|add:"+"|add:user.username as var %}
                    {% if user in file.file_access.all %}
                    <input type="checkbox" name="{{var}}" checked>{{ user.username }}
                    {% else %}
                    <input type="checkbox" name="{{var}}">{{ user.username }}
                    {% endif %}
                {% endwith %}
            </li>
            {% endif %}
        </ul>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="width: 30%; margin-left: 35%;">Save changes</button>
    </form>
    <form action="{% url 'downloader' %}" method="get" style="width: 50%; margin: 4% auto; text-align: center;">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">View all Files</button>
    </form>
    <form action="{% url 'manage' %}" style="width: 50%; margin: 4% auto; text-align: center;" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            Upload file
        </button>
    </form>
    <form action="{% url 'delete_files' %}" method="post" style="width: 50%; margin: 4% auto;text-align: center;" method="get">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Delete files</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        var message_ele = document.getElementById("msg");

        setTimeout(function () {
            message_ele.style.display = "none";
        }, 2000);
    </script>
</body>

<style>
    body {
        color: azure;
        background-image: url("{% static 'home/hi.png' %}");
        background-size: 100%;
        background-attachment: fixed; 
        backdrop-filter: blur(5px);
        }
</style>

</html>