<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration page</title>
    {% load static %}
    <style>
        #logform {
            width: 40%;
            margin: 6% auto;
            border: 1px solid grey;
            padding: 1rem;
            border-radius: 10px;
            background-color: rgb(52, 50, 27);
            opacity: 0.8;
        }

        h2 {
            text-align: left;
            color: rgb(236, 236, 243);
        }

        inp {
            padding: 1rem;
        }

        body {
            background-image: url("{% static 'home/bi.jpg' %}");
            background-size: 100%;
        }

        h1 {
            color: white;
        }
    </style>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DDMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about/">About</a>
                <a class="nav-item nav-link" href="/contact/">Contact Us</a>
            </div>
        </div>
    </nav>
    <form id="logform" class="text-center" action="/handlesignup/" method="post">
        {% csrf_token %}
        <h2>
            Register
        </h2>
        <hr>
        <!-- Email input -->
        <div class="inp">
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example1"></label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required />
            </div>
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example2"></label>
                <input type="text" name="Uname" id="Uname" class="form-control" placeholder="Username" required />
            </div>
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example2"></label>
                <input type="text" name="fname" id="fname" class="form-control" placeholder="First name" required />
            </div>
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example2"></label>
                <input type="text" name="lname" id="lname" class="form-control" placeholder="Last name" required />
            </div>
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example2"></label>
                <input type="password" name="passwd1" id="passwd1" class="form-control" placeholder="Password"
                    required />
            </div>
            <div class="form-outline mb-1">
                <label class="form-label" for="form2Example2"></label>
                <input type="password" name="passwd2" id="passwd2" class="form-control" placeholder="Confirm Password"
                    required />
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>